backend/n8n/Stock_Tool_Demo.json
{
  "name": "Stock Tool Demo",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -80,
        40
      ],
      "id": "126a4d3d-ba82-438c-bc2c-c9480cbf9a48",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "eac5414e-9403-422a-8aed-c70a5f8578e3",
              "name": "ticker ",
              "value": "={{ $json.query }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        40
      ],
      "id": "a145d24c-e871-4867-9968-939f99e756a8",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.chart-img.com/v2/tradingview/advanced-chart/storage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "VKgAKJ4DeQ4yH1kiHSKCh5QfKQTyP5Nw9S4J1wZk"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"theme\": \"dark\",\n  \"interval\": \"1W\",\n  \"symbol\": \"NASDAQ:{{ $json['ticker '] }}\",\n  \"override\": {\n    \"showStudyLastValue\": false\n  },\n  \"studies\": [\n    {\n      \"name\": \"Volume\",\n      \"forceOverlay\": true\n    },\n    {\n      \"name\": \"MACD\",\n      \"override\": {\n        \"Signal.linewidth\": 2,\n        \"Signal.color\": \"rgb(255,65,129)\"\n      }\n    }\n  ]\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        40
      ],
      "id": "925eb4e4-acae-4ce3-8dc3-4ff21833f36b",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        380,
        40
      ],
      "id": "bcaa5ea8-633d-47ef-97d5-7e670f34e171",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You are a seasoned technical analyst with deep expertise in momentum indicators, specifically the MACD. Your task is to conduct a comprehensive analysis of the provided MACD chart for [Specify Asset, e.g., Apple Inc. (AAPL)] on the [Specify Timeframe, e.g., Daily] chart.\n\nYour analysis must be structured and detailed, addressing the following key components and questions:\n\n1. Core MACD Component Analysis:\n\nMACD Line and Signal Line: Describe the current relationship between the MACD line (the difference between the 12-period and 26-period Exponential Moving Averages) and the signal line (the 9-period EMA of the MACD line). Are they converging or diverging? What is the slope and momentum of both lines?\nHistogram: Analyze the MACD histogram. Is it positive or negative? Is the strength of the histogram increasing or decreasing (i.e., are the bars growing taller or shorter)? What does this imply about the momentum of the current trend?\nZero Line: Where is the MACD line in relation to the zero line? Does this position suggest a bullish or bearish market sentiment? Detail the significance of any recent or impending zero line crossovers.\n2. Key Signal Identification and Interpretation:\n\nCrossovers:\nSignal Line Crossovers: Identify the most recent crossover between the MACD line and the signal line. Was it a bullish (MACD crossing above signal) or bearish (MACD crossing below signal) crossover? Evaluate the strength and validity of this signal.\nZero Line Crossovers: Pinpoint the latest instance of the MACD line crossing the zero line. How did the price react following this crossover?\nDivergences:\nClassic (Regular) Divergence: Scan the chart for any classic bullish divergences (lower lows in price, higher lows on the MACD) or classic bearish divergences (higher highs in price, lower highs on the MACD). If present, describe the specific price and MACD points that form the divergence and its potential implications for a trend reversal.\nHidden Divergence: Investigate for any hidden bullish divergences (higher lows in price, lower lows on the MACD) or hidden bearish divergences (lower highs in price, higher highs on the MACD). Explain how these potential divergences could signal a continuation of the prevailing trend.\n3. Advanced Strategic Analysis & Confirmation:\n\nConfirmation with Other Indicators: How would you corroborate the signals identified from the MACD? Suggest two other technical indicators (e.g., Relative Strength Index (RSI), On-Balance Volume (OBV), or a specific moving average) and explain how their current readings would confirm or contradict the MACD's story.\nMulti-Timeframe Context: Briefly analyze the MACD on a higher timeframe (e.g., Weekly) and a lower timeframe (e.g., 4-Hour). Does the MACD on these other timeframes support or conflict with your primary analysis of the daily chart?\nMarket Conditions & Volatility: Characterize the current market environment for this asset (e.g., strongly trending, range-bound, high volatility). How does the effectiveness of MACD signals change in these conditions? Are there any signs of potential \"whipsaws\" or false signals?\n4. Synthesis and Actionable Insights:\n\nOverall Narrative: Synthesize all the points above into a cohesive narrative about the current state of the asset's price momentum.\nProbabilistic Scenarios: Based on your comprehensive analysis, outline the most likely bullish and bearish scenarios for the asset in the short to medium term. Assign a qualitative probability (e.g., high, medium, low) to each scenario.\nKey Levels to Watch: Identify critical price levels that would either confirm or invalidate your primary analysis derived from the MACD signals.\nPlease present your final analysis in a clear, well-organized report with distinct sections for each of the points outlined above.",
        "messages": {
          "messageValues": [
            {
              "type": "HumanMessagePromptTemplate",
              "messageType": "imageBinary"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        520,
        40
      ],
      "id": "77b75453-7024-4a70-80ce-81a741d06c4b",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        520,
        180
      ],
      "id": "797cbc8e-3338-407a-9e7a-d188b69a17c8",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ndeL7gIu74Rs8Fpy",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "562b6dd1-8725-4709-adf9-bfbd94045c18",
              "name": "Response",
              "value": "={{ $json.text }}{{ $('HTTP Request1').item.json.url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        880,
        40
      ],
      "id": "b9385894-fa23-420b-bf72-dfa240690f81",
      "name": "Edit Fields1"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "query": "TSLA"
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "70e9fde0-e472-4cc3-b3cc-8d2218e518e1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ce4e7adaa9811a128f7bc2617109ab0c5a49daad7e42057d8926b1f729dfe7df"
  },
  "id": "H7kgDuKehLuWcfts",
  "tags": []
}