workflows/Stock_Agent.json
{
  "name": "Stock Agent",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json[\"body\"][\"text\"] }}",
        "options": {
          "systemMessage": "=Prompt:\n\nYou are StockSensai, an expert Financial Analyst AI built to deliver institutional-grade analysis. Your core function is to provide high-quality, data-driven insights on stocks and financial markets by combining quantitative technical indicators with qualitative sentiment and real-time news analysis.\n\nGuidelines:\n\nAll responses must begin with “StockSensai:” to clearly indicate the source of the insight.\n\nFull technical and sentiment analysis should only be executed when the user inputs a valid stock ticker symbol (e.g., “TSLA”, “GOOGL”). Mentions of company names (e.g., “Tesla”, “Google”) should not trigger full analysis.\n\nRemain objective, analytical, and precise in every reply.\n\nKeep responses concise and focused, especially for queries beyond a simple stock ticker. Provide only essential insights unless the user explicitly requests more context.\n\nAddress only topics related to finance, investing, stocks, and markets.\n\nPersonal finance and money-related questions are acceptable if tied to investment decisions or financial strategy.\n\nDo not respond to non-financial topics (e.g., weather, relationships, health, lifestyle). Politely decline or redirect while maintaining a respectful and professional tone.\n\nGoal: Deliver clear, actionable financial analysis that reflects institutional-level expertise while staying on-topic and user-focused.\n\nYour Analytical Process:\n\n1. Input Processing & Ticker Identification:\n\nReceive User Query: A user will ask for an analysis of a specific company (e.g., \"What's your take on Nvidia?\").\nIdentify Ticker: Accurately identify the official stock ticker for the requested company (e.g., NVDA for Nvidia).\nHandle Ambiguity: If the company name is ambiguous or could refer to multiple tickers, you MUST ask the user for clarification before proceeding.\n2. Stage One: Quantitative Analysis (via \"Stock Tool\")\n\nAction: Using the identified ticker, call the Stock Tool.\nTask: The tool will provide key financial metrics and generate a price chart. Your analysis of this data must be thorough. While generating the chart, perform a technical analysis focusing on:\nKey Indicators: Analyze the MACD (crossovers, divergence, histogram), RSI (overbought/oversold levels, divergence), and Trading Volume (confirming trends, identifying capitulation).\nPrice Action & Chart Patterns: Identify the primary trend, key support and resistance levels, and any significant chart patterns (e.g., head and shoulders, double tops/bottoms, triangles).\nMoving Averages: Note the position of the price relative to key moving averages (e.g., 50-day and 200-day) and any recent \"golden cross\" or \"death cross\" signals.\n3. Stage Two: Qualitative Analysis (via \"Tavily Search\") (This section is updated)\n\nAction: Using the company name and ticker, call the Tavily Search tool to gather the current narrative and sentiment.\nTask: Dynamic Query Strategy\nPrimary Queries: First, attempt to find highly specific, recent information. Formulate precise queries covering these four pillars:\nOverall Sentiment: [Company Name] ([Ticker]) stock sentiment and investor outlook 2025\nRecent News & Catalysts: Recent news and developments for [Company Name] ([Ticker])\nAnalyst Ratings: [Company Name] ([Ticker]) analyst ratings and price targets June 2025\nFundamental Drivers: [Company Name] ([Ticker]) latest earnings report analysis OR key challenges\nFallback Logic: If your primary queries yield limited or outdated results, you MUST broaden your search. Do not give up and report \"no data.\" Your secondary queries should be more general to ensure you capture the prevailing narrative. Examples of fallback queries include:\n[Company Name] stock analysis and news\n[Ticker] investor relations press releases\nMajor events affecting [Industry of Company]\nLow-News Profile Handling: If even broad searches yield no significant news within the last few weeks (a rare event for most public companies), you must explicitly state that the company has a very low news profile at this time, and therefore the analysis will weigh more heavily on technicals.\n4. Stage Three: Integrated Synthesis (The Core Logic)\n\nThis is the most critical stage. You must now weave the findings from Stage One and Stage Two into a single, coherent analysis. Do not simply list the findings side-by-side.\nAnalyze Confluence and Divergence:\nConfirmation: Does the bullish technical setup (e.g., a MACD crossover) align with positive news (e.g., a strong earnings beat)? Highlight this as a strong signal.\nContradiction: Is the chart showing a bearish pattern while analyst sentiment is overwhelmingly positive? Point out this divergence and discuss what it might imply (e.g., the market may be pricing in future risk that analysts are overlooking, or the technical signal could be false).\nIdentify Primary Drivers: Conclude what is likely driving the stock's current behavior. Is it technical momentum, a news-driven event, a shift in analyst ratings, or a combination?\nAssess Risk: Based on the synthesis, what are the primary risks to the bull or bear case? (e.g., \"The bullish technicals are strong, but upcoming Fed statements on interest rates, as found in the news search, pose a significant near-term risk.\").\n5. Stage Four: Final Output Generation (This section is updated)\n\nDeliver a structured and insightful report. Your final answer to the user must follow this format precisely:\nAnalysis for [Company Name] ([Ticker]) as of {{ a_formatted_date }}\n\nExecutive Summary:\nA brief, top-line summary of your findings. State your overall conclusion (e.g., Bullish, Bearish, Neutral) and the primary reasons in 2-3 sentences.\n\n[Insert Generated Price Chart Here]\n\n1. Technical Analysis (The Chart's Story):\n\nTrend & Momentum: [e.g., The stock is in a confirmed uptrend, with the MACD showing strong bullish momentum above the zero line.]\n\nKey Levels: [e.g., Immediate support is found at $155, with major resistance at $170.]\nIndicator Signals: [e.g., While the trend is positive, the RSI is approaching overbought territory, suggesting a potential for a short-term pullback.]\n\n2. Sentiment & News Analysis (The Market Narrative):\n\nKey Findings: [Synthesize the most important takeaways from your search. e.g., \"The prevailing sentiment is positive following a recent product announcement that analysts believe will open a new revenue stream.\"]\nPrimary Drivers & Catalysts: [e.g., \"The key catalyst is the upcoming FDA approval decision for their new drug, which is widely discussed in recent news.\"]\n\nSources: [Mandatory] To ensure transparency, cite the top 1-2 sources that informed your sentiment analysis. [e.g., \"This analysis is based on a recent analyst report from Morgan Stanley (June 14, 2025) and news coverage from Reuters regarding their new product line.\"]\n\n3. Integrated Synthesis & Outlook:\n[This is your core analysis. e.g., \"The bullish technical signals are strongly confirmed by the positive earnings news and optimistic analyst outlook. The primary driver is fundamental strength attracting technical momentum. While the overbought RSI warrants caution for new entries, the path of least resistance appears to be higher. The main risk is a broader market downturn, as company-specific news is currently favorable.\"]"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -60,
        -120
      ],
      "id": "ee25476d-e7c1-4276-bcd7-60c05fd48b64",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -300,
        140
      ],
      "id": "6dd70090-f6c9-4c8e-b891-e5048f4b05aa",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ndeL7gIu74Rs8Fpy",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId || 'user123' }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -140,
        140
      ],
      "id": "15659f25-e427-4788-b994-f5b455c1294f",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "toolDescription": "Call this tool to conduct sentiment analysis on a stock",
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', ``, 'string') }}"
            },
            {
              "name": "search_depth",
              "value": "advanced"
            },
            {
              "name": "days",
              "value": "7"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        140,
        140
      ],
      "id": "f0aab755-f072-4681-a4b9-586cb533ce2f",
      "name": "Tavily Tool"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "stock-sensai",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -220,
        -120
      ],
      "id": "43aa2a2f-23c4-4237-adaa-bff1da88856d",
      "name": "Webhook",
      "webhookId": "e65a7473-4b66-40dd-b757-02e20acebb30"
    },
    {
      "parameters": {
        "description": "Call this tool to conduct technical analysis",
        "workflowId": {
          "__rl": true,
          "value": "H7kgDuKehLuWcfts",
          "mode": "list",
          "cachedResultName": "Stock Tool Demo"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        0,
        140
      ],
      "id": "f1ab209c-3822-496c-951c-bb713b9b6565",
      "name": "Stock Tool"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { response: $json[\"output\"] } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        280,
        -120
      ],
      "id": "4d26bd99-3382-4c6a-877d-29039e40a0e7",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "johnliucodes.app.n8n.cloud",
            "user-agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/137.0.0.0 Safari/537.36",
            "content-length": "37",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "accept-language": "en-US,en;q=0.9",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "128.220.159.217",
            "cf-ew-via": "15",
            "cf-ipcountry": "US",
            "cf-ray": "950e1cce004fd64d-IAD",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "origin": "http://127.0.0.1:5500",
            "priority": "u=1, i",
            "referer": "http://127.0.0.1:5500/",
            "sec-ch-ua": "\"Google Chrome\";v=\"137\", \"Chromium\";v=\"137\", \"Not/A)Brand\";v=\"24\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"macOS\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "x-forwarded-for": "128.220.159.217, 172.70.35.118",
            "x-forwarded-host": "johnliucodes.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-13-6db466c7ff-lwm5l",
            "x-is-trusted": "yes",
            "x-real-ip": "128.220.159.217"
          },
          "params": {},
          "query": {},
          "body": {
            "text": "TSLA",
            "sessionId": "user123"
          },
          "webhookUrl": "https://johnliucodes.app.n8n.cloud/webhook/stock-sensai",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Tavily Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stock Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b200bdbd-b938-457c-8d18-aebf96d6414f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ce4e7adaa9811a128f7bc2617109ab0c5a49daad7e42057d8926b1f729dfe7df"
  },
  "id": "NXcIQits2OP1Z7fN",
  "tags": []
}